<div class="footer-grid">
    <div class="us columna">
        <div class="title">
            Nosotros
        </div>
        <div class="content">
            <app-persona class="persona"
                *ngFor="let persona of creadores"
                [persona]="persona" 
            >
            </app-persona>
        </div>
    </div>
    <div class="profesores columna">
        <div class="title">
            Profesores
        </div>
        <div class="content">
            <app-persona class="persona"
                *ngFor="let persona of profesores"
                [persona]="persona" 
            >
            </app-persona>
        </div>
    </div>
</div>