@use '../../../styles.scss';

.footer-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10rem;
    grid-auto-rows: minmax(100px, auto);
    color: styles.$light-text;
    width: 100%;
    max-width: 1200px;
    background-color: styles.$light-primary-button;
}


.columna{
    padding-inline-start: 0;
    margin: 0.1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    // width: 22vw;
}

.title{
    font-size: 1.7rem;
    text-align: center;
    margin: 0.2rem 0 0.3rem 0;
    list-style: none;
    font-weight: 700;
}

.content{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 80%;
}
.persona{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    max-width: 350px;

}

@media screen and (max-width: 950px) {
    .footer-grid {
        // display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
        grid-auto-rows: minmax(100px, auto);
        // color: styles.$light-text;
        // width: 100%;
        // max-width: 1200px;
    }
  }