<div>
    <h1>Insertar una receta</h1>
    <div class="contenedor">
		<form action="" *ngIf="!otroPais">
            <div class="selectbox">
              <div class="select" id="select">
                <div class="contenido-select">
                  <h4 class="titulo">{{ selectedPais }}</h4>
                </div>
                <i class="fas fa-angle-down"></i>
              </div>
              <div class="opciones" id="opciones">
                <a href="#" class="opcion" *ngFor="let pais of paisesAPI" (click)="valorInput(pais.nombre, $event)">
                  <div class="contenido-opcion">
                    <div class="textos">
                      <h4 class="titulo">{{ pais.nombre }}</h4>
                    </div>
                  </div>
                </a>
                <a href="#" class="opcion" (click)="insertarPaisNuevo()">
                    <div class="contenido-opcion">
                      <div class="textos">
                        <h4 class="titulo"> Otro </h4>
                      </div>
                    </div>
                  </a>
              </div>
            </div>
            <input type="hidden" name="pais" id="inputSelect" >
          </form>
	</div>
    <form (ngSubmit)="crearReceta()" [formGroup]="formUpdate">
        <div *ngIf="otroPais">
            <h2>Nombre del Pais</h2>
            <input class="input-centered posicion" type="text" placeholder="Nombre del pais" formControlName="nombrePais">
            <h2>Imagen de la Bandera</h2>
            <input class="input-centered posicion" type="text" placeholder="URL Bandera" formControlName="bandera">
        </div>
        <!-- NOMBRE DE LA RECETA -->
        <h2>Nombre de la Receta</h2>
        <input class="input-centered posicion" type="text" placeholder="Nombre de la receta" formControlName="nombre">
        <!-- DESCRIPCION DE LA RECETA -->
        <h2>Descripcion de la Receta</h2>
        <div formArrayName='descripcion'>
            <textarea autoResize class="parrafos posicion" *ngFor="let parrafo of descripcion.controls; let i = index" [formControlName]="i"  placeholder="Descripcion"></textarea>
            <div class="button-config">
                <button type="button" (click)="crearParrafo('descripcion')" class="button-insert">Crear Parrafo</button>
                <button type="button" (click)="eliminarParrafo('descripcion')" class="button-insert">Eliminar Ultimo Parrafo</button>
            </div>
        </div>
        <!-- IMAGEN DE LA RECETA -->
        <h2>Imagen de la Receta</h2>
        <input class="input-centered posicion" type="text" placeholder="URL Imagen" formControlName="imagen">
        <!-- INGREDIENTES DE LA RECETA -->
        <h2>Ingredientes de la Receta</h2>
        <div class="separacion">
            <h3 class="SubTNombre"> Nombre </h3>
            <h3 class="SubTCantidad "> Cantidad </h3>
            <h3 class="SubTOpcional"> Opcional </h3>
        </div>
        <div formArrayName="ingredientes">
            <app-info-ingr class="posIngr" *ngFor="let ingr of ingredientes.controls" [ingredienteForm]="ingr"></app-info-ingr>
            <div class="button-config">
                <button type="button" (click)="crearIngr()" class="button-insert">Agregar Ingrediente</button>
                <button type="button" (click)="eliminarIngr()" class="button-insert">Eliminar ultimo ingrediente</button>
            </div>
        </div>
        <!-- PREPARACION DE LA RECETA -->
        <h2>Preparacion de la Receta</h2>
        <div formArrayName="preparacion">
            <textarea autoResize class="parrafos posicion" *ngFor="let parrafo of preparacion.controls let i = index" [formControlName]="i" placeholder="Preparacion"></textarea>
            <div class="button-config">
                <button type="button" (click)="crearParrafo('preparacion')" class="button-insert">Crear Parrafo</button>
                <button type="button" (click)="eliminarParrafo('preparacion')" class="button-insert">Eliminar Ultimo Parrafo</button>
            </div>
        </div>
        <!-- CONSEJOS DE LA RECETA -->
        <h2>Consejos de la Receta</h2>
        <div formArrayName="consejos">
            <textarea autoResize class="parrafos posicion" *ngFor="let parrafo of consejos.controls; let i = index" [formControlName]="i" placeholder="Consejos"></textarea>
            <div class="button-config">
                <button type="button" (click)="crearParrafo('consejos')" class="button-insert">Crear Parrafo</button>
                <button type="button" (click)="eliminarParrafo('consejos')" class="button-insert">Eliminar Ultimo Parrafo</button>
            </div>
        </div>
        <!-- BOTONES PARA ENVIAR EL FORMULARIO Y VOLVER -->
        <div class="button-config">
            <button 
                type="button"
                class="button-insert"
                (click)="goBack()"
                title="Volver al inicio"
                >
                Volver
            </button>
            <button type="submit" class="button-insert">Insertar Receta</button>
        </div>
    </form>
</div>