@use '../../../styles.scss';
@import '~@fortawesome/fontawesome-free/css/all.css';

/* ==> FORMULARIO <==*/
form{
    display: flex;
    flex-direction: column;
}

/* ==> SUBTITULOS <==*/

h2, h1 {
    color: styles.$light-primary-button;
    background-color: styles.$light-background-country;
    border-radius: 0.5rem;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 800px;
    padding: 2px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* ==> INPUT Y TEXTAREA <==*/
input, textarea{
    width: 800px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 10px;
    resize: none;
}

input::placeholder, textarea::placeholder{
    position: absolute;
    left: 43%;
    font-size: 20px;
}

.input-centered{
    text-align: center;
}

input, textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 8px; 
    border: 2px solid #000; 
}

.parrafos{
    display:block
}

/* ==> BOTONES <==*/

.button-config{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-insert{
    padding: 10px 20px;
    font-size: 16px;
    background-color: styles.$light-primary-button;
    color: styles.$light-text;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color, padding 0.1s ease-in-out 0s;
}

.button-insert:hover {
    background-color: styles.$light-secondary-button;
    padding: 13px 35px;
    font-weight: 700;
  }

/* ==> IMAGEN <==*/
img{
    width: 400px;
    height: 300px;
    left: 33%;
    margin: 10px;
    border: 3px solid #000;
    border-radius: 10px;
}

/* ==> Subtitulos Ingredientes <==*/
.separacion{
    margin: 1rem;
}

h3{
    display: inline;
    position: relative;
    color: styles.$light-primary-button;
    background-color: styles.$light-background-country;
    border-radius: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.SubTNombre{
    left: 30%;
    transform: translate(-30%);
}

.SubTCantidad{
    left: 45%;
    transform: translate(-45%);
}

.SubTOpcional{
    left: 49%;
    transform: translate(-49%);
}

/* ==> IMAGEN <==*/
img{
    width: 400px;
    height: 300px;
    left: 33%;
    margin: 10px;
    border: 3px solid #000;
    border-radius: 10px;
}

/* ==> POSICION GENERAL <==*/

.posicion{
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.posIngr{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
	width: 100%;
	max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectbox {
	width: 90%;
	position: relative;
}

.select {
	width: 400px;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, .16);
	border-radius: 10px;
	cursor: pointer;
	display: flex;
    background-color: #fff;
	justify-content: center;
	align-items: center;
	transition: .2s ease all;
	padding-right: 10px;
    padding-left: 10px;
	position: relative;
	z-index: 200;
    border: 2px solid #000;
}

.select.active,
.select:hover {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
	border: 2px solid #213f8f;
}

.select.active{
    margin-bottom: 20px;
}

.select.active:before {
	content: "";
	display: block;
	height: 0;
	width: 0;
	border-top: 15px solid styles.$light-primary-button;
	border-right: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid transparent;
	position: absolute;
	bottom: -30px;
	left: calc(50% - 15px);
}

.select i {
    margin-top: 3px;
	font-size: 25px;
	margin-left: 30px;
	color: #213f8f;
}

.titulo {
    margin: 10px;
	color: styles.$light-primary-button;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.descripcion {
	font-size: 18px;
	color: #434343;
}

.opciones {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 5px 10px rgba(0,0,0,.16);
	max-height: 400px;
	overflow: auto;
	z-index: 100;
	width: 400px;
	display: none;
}

.opciones  a{
    text-decoration: none;
}

.opciones.active {
	display: block;
	animation: fadeIn .3s forwards;
    margin-left: 10px;
}

@keyframes fadeIn {
	from {
		transform: translateY(-10px) scale(.5);
	}
	to {
		transform: translateY(0) scale(1);
	}
}

.contenido-opcion {
    height: 40px;
	display: flex;
    justify-content: center;
	align-items: center;
	transition: .2s ease all;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

// .opciones .contenido-opcion {
// 	padding: 30px;
// }

.opciones .contenido-opcion:hover {
	background-color: styles.$light-primary-button;
}

.opciones .contenido-opcion:hover .titulo,
.opciones .contenido-opcion:hover .descripcion {
	color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
}

@media screen and (max-width: 800px){
	.selectbox {
		width: 400px;
	}
}



