<h1 class="titulo-pais" [hidden]="ocultarPais">Recetas de {{ nombrePais }} </h1>
<div *ngIf="recetas">
    <div class="recetas-container">
    <ul>
        <div *ngFor="let receta of recetas" class="receta-item">
            <li><button class="receta-button" (click)="Receta('activar', receta.nombre)" [hidden]="ocultarPais">{{receta.nombre}}</button></li>
        </div>
    </ul>
    </div>
    <div *ngIf="ocultarPais">
        <app-receta [nombreReceta]="recetaActivada"></app-receta>
        <button class="volver-button" (click)="Receta('desactivar','')">&lt; Volver</button>
    </div>
</div>