@use '../../../styles.scss';
@use '../pais/pais.component.scss';

.recetario-heading {
    font-size: 4rem;
    color: styles.$light-primary-button;
    background-color: styles.$light-background-country;
    border-radius: 1rem;
    text-align: center;
    margin: auto;
    width: 50vw;
    max-width: 700px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

.paises-container {
    display: flex;
    justify-content: center;
}

.pais-item {
    margin: 10px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

@media (max-width: 650px) { // para mobile
    .recetario-heading {
        font-size: 3rem;
    }
}

.button-insert{
    width: 60px;
    height: 60px;
    background-color: styles.$light-primary-button;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 85.3vw;
    top: 10.8vh;
}

.button-insert svg {
    transform: scale(1.3);
    fill: styles.$light-text;
}

.button-insert:hover{
    cursor: pointer;
    background-color: styles.$light-secondary-button;
    padding: 10px 10px;
}