@use '../../../styles.scss';
.recetario-heading {
    font-size: 4rem;
    color: styles.$light-primary-button;
    background-color: styles.$light-background-country;
    border-radius: 1rem;
    text-align: center;
    margin: auto;
    width: 50vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

.paises-container {
    display: flex;
    justify-content: left;
}
  
.pais-item {
    margin: 10px;
}

ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    flex-wrap: wrap;
}