@use '../../../styles.scss';

* {
    width: 100%; /* Aplicar un ancho del 100% a todos los elementos dentro del componente */
  }

.toolbar {
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 1.5em;
    margin: 0;
    padding-top: 8px;
    background-color: styles.$light-primary-button
    // color: styles.$light-primary-button;
}

.toolbar-title{
    margin-left: 11%;
}

#logo {
    width: 40px;
    height: 40px;
    margin-left: 5%;
    transition: scale 0.15s ease-in-out 0s;
}
#logo:hover, #github-logo:hover {
    scale : 1.1;

}
#github-logo {
    width: 40px;
    height: 40px;
    margin-left: 90%;
    transition: scale 0.15s ease-in-out 0s;
    // fill: styles.$light-primary-button;
}