@use '../../../styles.scss';

/* ==> FORMULARIO <==*/
form{
    display: flex;
    flex-direction: column;
}

/* ==> SUBTITULOS <==*/

h2, h1 {
    text-align: center;
    color: #FFF;
}

/* ==> INPUT Y TEXTAREA <==*/
input, textarea{
    width: 800px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 10px;
    resize: none;
}

input::placeholder, textarea::placeholder{
    position: absolute;
    left: 43%;
    font-size: 20px;
}

.input-centered{
    text-align: center;
}

input, textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 8px; 
    border: 2px solid #000; 
}

.parrafos{
    display:block
}

/* ==> BOTONES <==*/
.buttonAddParrafo{
    width: 100px;
    position: relative;
    left: 10%;
}

.buttonDeleteParrafo{
    width: 180px;
    position: relative;
    left: 12%;
}

.buttonActualizar{
    width: 150px;
    position: relative;
    left: 15%;
    margin-top: 20px;
}

/* ==> IMAGEN <==*/
img{
    width: 400px;
    height: 300px;
    left: 33%;
    margin: 10px;
    border: 3px solid #000;
    border-radius: 10px;
}

/* ==> POSICION GENERAL <==*/

.posicion{
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.posIngr{
    position: relative;
    left: 23%;
    transform: translate(23%);
}

.volver-button {
    background-color: styles.$light-primary-button;
    color: styles.$light-text;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .volver-button:hover {
    background-color: styles.$light-secondary-button;
  }
  
  .volver-button:focus {
    outline: none;
    }

