@use '../../../styles.scss';

form{
    display: flex;
    flex-direction: column;
}

input {
    width: 600px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 10px;
    resize: none;
}

input::placeholder{
    position: absolute;
    left: 50%;
}

textarea {
    width: 600px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 10px;
    resize: vertical;
}

.buttonAddParrafo{
    width: 100px;
    position: relative;
    left: 10%;
}

.buttonDeleteParrafo{
    width: 180px;
    position: relative;
    left: 12%;
}

img{
    width: 200px;
    height: 150px;
    position: relative;
    left: 10%;
}

.buttonActualizar{
    width: 150px;
    position: relative;
    left: 15%;
    margin-top: 20px;
}
.volver-button {
    background-color: styles.$light-primary-button;
    color: styles.$light-text;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .volver-button:hover {
    background-color: styles.$light-secondary-button;
  }
  
  .volver-button:focus {
    outline: none;
    }