@use '../../../styles.scss';

.spacer-main{
    border-top: 0.2em solid styles.$light-accent;
    margin-bottom: 4vh;
}

.footer{
    display: block;
    position: static;
    bottom: 0;
    width: 100%;
    height: 10%;
    // background-color: #284b5d;
    // bottom: 0;
    // width: 100%;
    // height: 2.5rem;
    background-color: styles.$light-accent;
}