<div *ngIf="datos">
  <h1 class="recetario-heading" [hidden]="ocultarInicio">Bienvenido al recetario del mundo:</h1>
  <div class="datos-container">
    <ul>
    <div *ngFor="let dato of datos" class="dato-item">
      <li><button class="dato-button" (click)="redirigirDetalle(dato.nombre)" (click)="activarPais('activar',dato.nombre)" [hidden]="ocultarInicio">{{ dato.nombre }}</button></li>
    </div>
    </ul>
  </div>
  <div *ngIf="ocultarInicio">
      <app-pais [nombrePais]="PaisActivado"></app-pais>
  </div>
  <button class="volver-button" (click)="activarPais('desactivar','')">&lt; Volver</button>
</div>
