 /* You can add global styles to this file, and also import other style files */

 // CHOOSE THE THEME HERE
$font-stack: 'Roboto', sans-serif;

// $light-text: #020304;
// $light-background: #dbe9f0;
// $light-primary-button: #203d4b;
// $light-secondary-button: #c6dce7;
// $light-accent: #284b5d;

$light-text: #ededed;
$light-background: #757dad;
$light-background-country: #f2f3f9;
$light-primary-button: #E58500;
$light-secondary-button: #331E00;
$light-accent: #E58500;//#737270;//8E5E98;

$dark-text: #f3e1f4;
$dark-background: #1d0b1e;
$dark-primary-button: #203d4b;
$dark-secondary-button: #070308;
$dark-accent: #284b5d;

// * {
    
    //     color: $light-text;
    //     background-color: $light-background;
    // }
    
    
body {
    font-family: $font-stack;
    background-color: $light-background;
    letter-spacing: 0.01rem!important;
    // lo ponemos relative para que el footer pueda estar absolute a contenido y no a la ventana
    position: relative;
    min-height: 100vh;
    margin: 0
}

button {
    letter-spacing: 0.015rem ;
}

.main-app-root{
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}
