 /* You can add global styles to this file, and also import other style files */

 // CHOOSE THE THEME HERE
$font-stack: 'Roboto', sans-serif;

$light-text: #ededed; // texto
$light-background: #E6F2FF; // fondo
$light-background-country: #E6F2FF; // fondo de los paises (cambiarlo al mismo de arriba)
$light-primary-button: #264566; // es el color primario 60%
$light-secondary-button: #1D334A; // es el color secundario 20%
$light-accent: #264566; // es el color de acento 10%

$dark-text: #f3e1f4;
$dark-background: #1d0b1e;
$dark-primary-button: #203d4b;
$dark-secondary-button: #070308;
$dark-accent: #284b5d;

// * {
    
    //     color: $light-text;
    //     background-color: $light-background;
    // }
    
    
body {
    font-family: $font-stack;
    background-color: $light-background;
    letter-spacing: 0.01rem!important;
    // lo ponemos relative para que el footer pueda estar absolute a contenido y no a la ventana
    position: relative;
    min-height: 100vh;
    margin: 0
}

button {
    letter-spacing: 0.015rem ;
}

.main-app-root{
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}
