@use '../../../styles.scss';

.titulo-pais {
    font-size: 36px;
    color: #333;
    text-align: left;
    margin: 20px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

.recetas-container {
    display: flex;
    justify-content: left;
}
  
.receta-item {
    margin: 10px;
}

ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    flex-wrap: wrap;
}
  
.volver-button {
    background-color: styles.$light-primary-button;
    color: styles.$light-text;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .volver-button:hover {
    background-color: styles.$light-secondary-button;
  }
  
  .volver-button:focus {
    outline: none;
    }