@use '../../../styles.scss';

.wrapper-button-add
{
    position: absolute;
    top: calc(5vh + 0.5rem + 2vh + 0.5rem);
    left: auto;
    width: 100vw;
    max-width: 1200px;
    height: calc(4rem * 1.18);
    padding: 0;
}

.container-button-add{
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.button-insert{
    width: 40px;
    height: 40px;
    background-color: styles.$light-primary-button;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: background-color, padding, transform 0.2s ease-in-out 0s;
}

.button-insert svg {
    transform: scale(1.3);
    fill: styles.$light-text;
}

.button-insert:hover{
    background-color: styles.$light-secondary-button;
    padding: 10px 10px;
    transform: rotate(90deg);
}

@media screen and (max-width: 1200px) {
    .wrapper-button-add{
        left: 0;
    }
}
@media screen and (max-width: 1210px) {
    .button-insert{
        margin-right: 0.5rem;
    }
}
@media screen and (max-width: 750px) {
    .wrapper-button-add
    {
        position: static;
        margin: 1rem 0;
    }
    .container-button-add{
        justify-content: center;
    }
    .button-insert{
        margin: 0;
        width: 60px;
        height: 60px;
    }
}